@import "tailwindcss";

@theme {
        --color-light-blue: #E0F7FA;
        --color-base-blue: #C9F5FA;
        --color-accent-blue: #7DE1F4;
        --color-dark-blue: #0A8CBA;
        --color-light-gray: #F5F5F5;
        --color-dark-gray: #2D2D2D;
};

/* Hide scrollbar while maintaining scroll functionality */
.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}

@import "./typography.css";

